@use "../util/index2" as *;

.slider {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  justify-content: center;
  @include breakpoint(large) {
    grid-template-columns: 630px auto;
    grid-template-rows: auto;
  }
}
.image-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(254);
  height: rem(254);
  place-self: center;
  @include breakpoint(large) {
    order: 1;
    position: relative;
    width: rem(540);
    height: rem(540);
  }
  > img {
    transform: translateX(-100px);
    opacity: 0;
    transition: opacity transform 1s;
    &.active {
      opacity: 1;
      transform: translateX(0);
    }
    position: absolute;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 20px 50px hsl(240deg 38% 20% / 30%);
  }
}
.select-btn {
  position: absolute;
  height: 40px;
  width: 80px;
  border: none;
  background-color: white;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  bottom: -20px;
  left: 85px;
  @include breakpoint(large) {
    height: 56px;
    width: 112px;
    bottom: -28px;
  }
  img {
    width: 9px;
    height: 14px;
    &:active {
      box-shadow: inset 5px 5px 10px -3px rgb(0 0 0 / 70%);
    }
  }
}
.info {
  p {
    margin-top: 60px;
    line-height: 1.5;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    @include breakpoint(large) {
      font-size: 32px;
      width: 630px;
      text-align: left;
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    @include breakpoint(large) {
      flex-direction: row;
    }
    h1 {
      text-align: center;
      font-size: 16px;
      margin-bottom: 0;
      margin-top: 28px;
      @include breakpoint(large) {
        text-align: left;
        margin-top: 0;
      }
    }
    h2 {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      color: $gray;
      margin-top: 4px;
      @include breakpoint(large) {
        text-align: left;
        display: inline;
        margin: 0;
      }
    }
  }
}
