@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0%;
  margin-bottom: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  height: calc(100vh - 54px);
}
@media (min-width: 50em) {
  body {
    height: calc(100vh - 113px);
  }
}

.container {
  width: 81.3%;
  margin: 3.375rem auto 0;
}
@media (min-width: 50em) {
  .container {
    width: 69.375rem;
    margin: 7.0625rem auto 0;
  }
}

.slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.slider > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
@media (min-width: 50em) {
  .slider {
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .slider > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .slider > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
}

.image-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15.875rem;
  height: 15.875rem;
  -ms-grid-row-align: center;
  -ms-grid-column-align: center;
  place-self: center;
}
@media (min-width: 50em) {
  .image-container {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    position: relative;
    width: 33.75rem;
    height: 33.75rem;
  }
}
.image-container > img {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: opacity transform 1s;
  transition: opacity transform 1s;
  position: absolute;
  height: 100%;
  border-radius: 8px;
  -webkit-box-shadow: 0 20px 50px hsla(240deg, 38%, 20%, 0.3);
          box-shadow: 0 20px 50px hsla(240deg, 38%, 20%, 0.3);
}
.image-container > img.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.image-container .pattern1 {
  position: absolute;
  z-index: -1;
}
.image-container .pattern1 img {
  height: 308px;
  width: 327px;
}
@media (min-width: 50em) {
  .image-container .pattern1 img {
    width: 697px;
    height: 657px;
  }
}

.select-btn {
  position: absolute;
  height: 40px;
  width: 80px;
  border: none;
  background-color: white;
  border-radius: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  bottom: -20px;
  left: 85px;
}
@media (min-width: 50em) {
  .select-btn {
    height: 56px;
    width: 112px;
    bottom: -28px;
  }
}
.select-btn img {
  width: 9px;
  height: 14px;
}
.select-btn img:active {
  -webkit-box-shadow: inset 5px 5px 10px -3px hsl(240deg, 18%, 77%);
          box-shadow: inset 5px 5px 10px -3px hsl(240deg, 18%, 77%);
}

.info {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  z-index: 1;
}
.info .info-one,
.info .info-two {
  display: none;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: opacity transform 1s;
  transition: opacity transform 1s;
}
.info .info-one.active,
.info .info-two.active {
  display: block;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.info .pattern2 {
  position: absolute;
  z-index: -1;
  top: 35px;
  left: 40%;
}
@media (min-width: 50em) {
  .info .pattern2 {
    top: -40px;
    left: 95px;
  }
}
.info .pattern2 img {
  width: 60px;
  height: 50px;
}
@media (min-width: 50em) {
  .info .pattern2 img {
    width: 120px;
    height: 100px;
  }
}
.info p {
  margin-top: 60px;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  color: hsl(240deg, 38%, 20%);
}
@media (min-width: 50em) {
  .info p {
    position: relative;
    font-size: 32px;
    width: 110%;
    text-align: left;
    margin-top: 0;
    padding-top: 20px;
  }
}
.info .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 50em) {
  .info .details {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 50px;
  }
}
.info .details h1 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 28px;
  color: hsl(240deg, 38%, 20%);
  font-weight: 700;
}
@media (min-width: 50em) {
  .info .details h1 {
    font-size: 20px;
    text-align: left;
    margin-top: 0;
  }
}
.info .details h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: hsl(240deg, 18%, 77%);
  margin-top: 4px;
}
@media (min-width: 50em) {
  .info .details h2 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: left;
    display: inline;
    margin: 0;
    margin-left: 10px;
  }
}

.pattern {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
@media (max-width: 43.746875em) {
  .pattern img {
    width: 240px;
    height: 70px;
  }
}